<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/chetan bhagat/IdeaProjects/PageObjectModelInstagram">
        <classes>
            <class name="com.bridgelabz.test.InstagramTest">
                <methods>
                    <include name="redirectOnToTheSignUp"/>
                    <include name="insertTheDataIntoTheRegistrationForm"/>
                    <include name="loginInToTheInstagram"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>